body {
  background-color: #F2FFF2 !important;
}
.my-modal {
  background-color: white;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px
}
.modal-container {
  background-color: rgba(0, 0, 0, 0.3) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#greeting {
  display: inline-block;
  font-weight: 300;
  color: rgb(63, 82, 72)
}

#greyback {
  background-color: #DDFFDD;
  padding: 20px 300px
}

#edit-header {
  font-size: 20px;
  float: right;
  
}

.post {
  background-color: #FFFFFF;
  display: block;
  margin: 1rem auto;
  min-height: 200px;
  justify-content: center;
  align-items: center;
  border-collapse: separate; 
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px !important;
  padding: 30px;
}

.grey-border {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #CCCCCC;
  border-radius: 10px
}

#header-img {
  margin: 10px;
  border-radius: 5px;
  height: 250px;
  box-shadow: rgb(0 0 0 / 30%) 0px 1px 18px;
}

#header-desc {
  display: inline-block;
  font-size:x-large;
  font-weight: 200;
  padding: 0% 10%;
}

#posts-title {
  padding: 0px 20px;
  font-weight: 100;
}

#posts-area {
  margin: 1rem auto;
  width: 50%
}